<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>Update Contact</title>
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">
<div id="content" class="min-h-screen flex items-center justify-center w-full">
    <section class="bg-green-100 dark:bg-gray-800 border-gray-600 w-3/5 p-6 rounded-lg shadow-md">
        <div class="flex flex-col space-y-6 border-gray-300">

            <!-- Success and Error Messages -->
            <div th:if="${successmessage}" class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative"
                 role="alert">
                <img src="/images/thumsup.png" class="h-12 w-12">
                <strong class="font-bold">Success!</strong>
                <span class="block sm:inline" th:text="${successmessage}"></span>
            </div>
            <div th:if="${errormessage}" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
                 role="alert">
                <img src="/images/tdown.png" class="h-12 w-12">
                <strong class="font-bold">Error!</strong>
                <span class="block sm:inline" th:text="${errormessage}"></span>
            </div>

            <h1 class="text-2xl font-semibold">Update Contact</h1>

            <!-- Update Form -->
            <form th:action="@{'/user/contact/update/'+${id}}" method="post" th:object="${cf}"
                  enctype="multipart/form-data" class="p-2">

                <div class="mb-3">
                    <label for="input-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact Name</label>
                    <input type="text" th:field="*{name}" id="input-name"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                           placeholder="Enter name" required>
                </div>

                <div class="mb-3">
                    <label for="input-email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your Email</label>
                    <input type="email" th:field="*{email}" id="input-email"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                           placeholder="name@provider.com" required>
                </div>

                <div class="mb-3">
                    <label for="input-phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone Number</label>
                    <input type="number" th:field="*{phoneNumber}" id="input-phone"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                           placeholder="9999999999" required>
                </div>

                <div class="mb-3">
                    <label for="input-address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Address</label>
                    <input type="text" th:field="*{address}" id="input-address"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                           placeholder="ABC Belgaum, Karnataka, 590001" required>
                </div>

                <div class="mb-3">
                    <label for="input-description"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
                    <textarea id="input-description" th:field="*{description}" rows="4"
                              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 resize-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                              placeholder="About the contact"></textarea>
                </div>

                <div class="flex mb-3">
                    <div class="w-1/2 mr-2">
                        <label for="input-linkedin"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">LinkedIn</label>
                        <input type="text" th:field="*{linkedInLink}" id="input-linkedin"
                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                               placeholder="LinkedIn">
                    </div>
                    <div class="w-1/2 ml-2">
                        <label for="input-github"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">GitHub</label>
                        <input type="text" th:field="*{gitHubLink}" id="input-github"
                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                               placeholder="GitHub">
                    </div>
                </div>
<!-- 
                <div class="mb-3">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Upload</label>
                    <input type="file" th:field="*{picture}" id="input-picture"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                           >
                </div> -->
                <input type="hidden" th:field="*{pic}" >


                <div class="flex items-center mb-4">
                    <input type="checkbox" th:field="*{favourite}" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300
                        rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="input-favourite"
                           class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Add to Favourite</label>
                </div>

                <div class="button-container text-center">
                    <button type="submit"
                            class="px-3 py-2 dark:bg-blue-600 hover:dark:bg-blue-700 rounded bg-black text-white">
                        Update Contact
                    </button>
                </div>

            </form>

        </div>
    </section>
</div>

<script data-th-src="@{'/js/admin.js'}"></script>
<script>
    console.log("this is update contact page");

