<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>Organizer - Home</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 dark:bg-gray-900">
    <div id="content">
        <div class="flex items-center justify-center mt-14">
            <div class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 cursor-default">
                <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="/images/cloud.png" alt="Cloud Storage">
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Organizer - Cloud-Based Contact Management</h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Store, manage, and access all your contacts securely on the cloud. Never lose your contacts and access them from anywhere, anytime.</p>
                </div>
            </div>
        </div>
        
        <div class="flex items-center justify-center mt-10">
            <div class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 cursor-default">
                <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="/images/1.png" alt="Features">
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Powerful Features</h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Discover the powerful features of Organizer, including direct to contact email sending service, and saving LinkedIn and GitHub profiles.
                    </p>
                </div>
            </div>
        </div>
        
        <div class="flex items-center justify-center mt-10">
            <div class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 cursor-default">
                <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="/images/Security.jpeg" alt="Security">
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Top-Notch Security</h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Your contacts are stored securely which can be only accessed by you. Your data is safe with us.</p>
                </div>
            </div>
        </div>
        
        <div class="flex items-center justify-center mt-10">
            <div class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 cursor-default">
                <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="/images/getStarted.jpeg" alt="Get Started">
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Get Started</h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Join Organizer today and start managing your contacts efficiently and securely on the cloud.</p>
                </div>
            </div>
        </div>
       
            </div>
          </div>
    </div>
    <script>
        console.log("service page");
    </script>
</body>
</html>
